body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#buy-box {
    width: 35%;
    height: 70%;
    margin: 5% auto;
    border: 1px solid black;
}
#buy-box table {
    margin: 0 auto;
    width: 90%;
    height: 90%;
}
#buy-box table td {
    text-align: center;
    border: 1px solid dodgerblue;
}