body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

#banner {
    overflow: hidden;
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    /*float: left;*/
    border: 1px solid black;
}
#banner > img {
    width: 100%;
    height: 100%;
}
/*#banner > img:not(:first-child) {*/
/*    display:none;*/
/*}*/

#main-box {
    width: 30%;
    height: 58%;
    position: absolute;
    top: 15%;
    left: 10%;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.9;
    background-color: white;
}
#main-box table {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    /*border: 1px solid black;*/
}
#main-box table td {
    /*border: 1px solid black;*/
}
.home-sel {
    font-size: 18px;
    width: 90%;
    height: 80%;
}
#fun-submit {
    height: 60%;
    width: 20%;
    /*border-width: 0;*/
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    font-family: Microsoft YaHei, serif;
    color: white;
    font-size: 16px;
}
#icon-set {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 80%;
    background-color: white;
}
#home-foot-icon1 {
    background-color: white;
    margin-top: 5px;
    margin-left: 2px;
    width: 12%;
    height: 95%;
}
.home-foot-icon {
    position: absolute;
    background-color: slateblue;
    margin-top: 5px;
    border-radius: 10%;
    width: 12%;
    height: 95%;
}
.home-foot-icon img {
    width: 100%;
    height: 100%;
}
#home-foot-message {
    position: absolute;
    margin-top: 5px;
    text-align: center;
    left: 2%;
    font-size: 17px;
    border-right: 2px solid dodgerblue;
    height: 95%;
}
.icon1 {
    left: 7%;
}
.icon2 {
    left: 20%;
}
.icon3 {
    left: 33%;
}
.icon4 {
    left: 46%;
}
.icon5 {
    left: 59%;
}
.icon6 {
    left: 72%;
}
.icon7 {
    left: 85%;
}
